<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Update</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <!-- Function to toggle password visibility -->
    <script>
        function togglePasswordVisibility() {
            var oldPassword = document.getElementById("old_password");
            var newPassword = document.getElementById("new_password");
            var confirmPassword = document.getElementById("confirm_password");

            if (oldPassword.type === "password") {
                oldPassword.type = "text";
                newPassword.type = "text";
                confirmPassword.type = "text";
            } else {
                oldPassword.type = "password";
                newPassword.type = "password";
                confirmPassword.type = "password";
            }
        }
    </script>
</head>
<body>
    <header>
        <h1>Password Update</h1>
        <!-- Conditional display based on whether the user is logged in -->
        {% if 'username' in session %}
            <a href="{{ url_for('logout') }}" class="text-button">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="text-button">Login</a>
        {% endif %}
    </header>

    <section>
        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
            {% for message in messages %}
                <p class="flash-message">{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        <!-- Form to update password -->
        <form method="POST" action="{{ url_for('password_update') }}">
            <div class="form-group">
                <label for="old_password">Old Password:</label>
                <input type="password" id="old_password" name="old_password" required>
            </div>
            
            <div class="form-group">
                <label for="new_password">New Password:</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            
            <div class="form-group">
                <label for="confirm_password">Confirm New Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>

            <div class="form-group">
                <input type="checkbox" onclick="togglePasswordVisibility()"> Show Passwords
            </div>

            <button type="submit" class="text-button">Update Password</button>
        </form>
    </section>
</body>
</html>
